@model MvcOnlineWeb.Models.Classes.Departman 
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>DepartmanGetir</h2>
<br/>
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
            {
                <form class="form-group">
                    @Html.LabelFor(x => x.DepartmanAd)
                    <br/>
                    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
                    @Html.HiddenFor(x => x.DepartmanId)
                    <button class="btn btn-primary">Güncelle</button>
                </form>
            }