@model MvcOnlineWeb.Models.Classes.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br/>
<h2>KategoriGetir</h2>
<br/>

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.KategoriAd)
                    @Html.TextBoxFor(x => x.KategoriAd, new {@class = "form-control"})
                    @Html.HiddenFor(x=>x.KategoriID)
                </div>
                <button class="btn btn-primary">Güncelleme</button>
            }


